// FontAwesome config for seed app
// use this as an independent style module or a mixin to your own Sass files
// Settings
@import "px-defaults-design/_settings.defaults.scss";
@import "px-colors-design/_settings.colors.scss";
// Tools
@import "px-mixins-design/_tools.mixins.scss";

// Generic

// Base
$fa-version: "4.4.0" !default;
@import "px-iconography-design/_base.iconography.scss";

// Objects
// Components
// Trumps

@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
}
