<px-card header-text="Student Form"   chevron="true" class="body_box_wrapper" style="height:100vh" >
    <div class="container" *ngIf="student">

        <form id="studentForm" name="studentForm" (ngSubmit)="add()" #studentForm="ngForm">
            <div class="form-group">
                <label for="name">name</label>
                <input id="name" name="name" [(ngModel)]="student.name" placeholder="name"
                       #name="ngModel" class="form-control" required minlength="4" maxlength="24">
                <span *ngIf="formErrors.name" class="alert alert-danger"> {{ formErrors.name }}</span>
            </div>

            <div class="form-group">
                <label for="gender">Gender</label>
                <select id="gender" name="gender" [(ngModel)] = "student.gender" required #gender="ngModel" class="form-control">
                        <option *ngFor="let sex of genderList" [value]="sex.key">{{sex.value}}</option>
                </select>
                <span *ngIf="formErrors.gender" class="alert alert-danger">{{ formErrors.name }}</span>
            </div>

            <div>
                <button type="submit" class="btn btn-success" class="btn btn-success" [disabled]="!studentForm.form.valid">Add</button>
                <button type="button" class="btn" (click) = "update();">Update</button>
                <button type="button" class="btn" (click) = "delete();">Delete</button>
                <button (click) = "studentForm.reset(); newStudent();" class="btn btn-success">Reset</button>
                <button (click)="goBack()" class="btn btn-success" class="btn btn-success">Back</button>
            </div>
        </form>
    </div>
</px-card>
