// Settings
@import "px-colors-design/_settings.colors";

// Tools

// Generic
@import "px-normalize-design/_generic.normalize";
@import "px-box-sizing-design/_generic.box-sizing";
@import "px-helpers-design/_generic.helpers";

// Base
@import "px-flexbox-design/_base.flexbox";
@import "px-viewport-design/_base.viewport";
@import "px-typography-design/_base.typography";
@import "px-headings-design/_base.headings";
@import 'px-forms-design/_base.forms.scss';
$fa-font-path: '../src/assets/bower_components/font-awesome/fonts';
@import "px-iconography-design/_base.iconography.scss";

// Meta

// Objects
$inuit-enable-layout--center : true;
$inuit-enable-layout__item--center : true;
@import 'px-layout-design/_objects.layout';
@import 'px-list-inline-design/_objects.list-inline';
$inuit-enable-btn--primary : true;
@import 'px-buttons-design/_objects.buttons';
$inuit-enable-list-ui--tiny : true;
$inuit-enable-list-ui--large : true;
@import "px-list-ui-design/_objects.list-ui.scss";

// Component

// Trumps
@import "inuit-clearfix/_trumps.clearfix.scss";
@import "px-spacing-responsive-design/_trumps.spacing-responsive";
@import "px-widths-responsive-design/_trumps.widths-responsive";
