<px-card header-text="Search Form"     style="height:150px" >


    <label for="name" class="u--m++  label--inline"   >Equip Initial</label>
    <input id="equipInitial"   #equipInitial   placeholder="Initial"  type="text">


    <label for="equipNum"  class="u--m++ label--inline">Equip Number</label>
    <input id="equipNum"   #equipNum     placeholder="Number" class="text-input input--tiny" type="text">

    <label for="equipNum"  class="u--m++  label--inline">Event Type</label>
    <select  class="u-ml "   #eventType  >
        <option >First</option>
        <option >Second</option>
        <option >Third</option>
    </select>

    <input class="u-ml form-field--inline btn btn--primary   "  (click)="fecthData(equipInitial.value,equipNum.value,'ICR')"  type='button' value="Search">
    <input class="u-ml form-field--inline btn     "  (click)="addEuip(equipInitial.value,equipNum.value,'ICR')"  type='button' value="Search">

    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>



</px-card>
<px-card header-text="Events Screen "   class="body_box_wrapper"  >

    <div>
        <px-data-table   [tableData]="tabledata" striped="true" filterable >
            <px-data-table-column  name="id" label='ID' filterable  sortable editable  >  </px-data-table-column>
            <px-data-table-column  name="equipInitial"  label='Equip Initial' filterable  sortable editable  >  </px-data-table-column>
            <px-data-table-column  name="equipNum"  label='Equip Number' filterable  sortable editable  >  </px-data-table-column>
            <px-data-table-column  name="eventDateTime"  label='Time' filterable  sortable editable  >  </px-data-table-column>
            <px-data-table-column  name="eventType"  label='Event Type' filterable  sortable editable  >  </px-data-table-column>
        </px-data-table>
    </div>
</px-card>


<px-card header-text="Search Form"     style="height:150px" >

    <label for="name" class="u--m++  label--inline"   >Equip Initial</label>
    <input id="equipInitial"   #equipInitial   placeholder="Initial" class="text-input input--tiny" type="text">


    <label for="equipNum"  class="u--m++ label--inline">Equip Number</label>
    <input id="equipNum"   #equipNum     placeholder="Number" class="text-input input--tiny" type="text">

    <label for="equipNum"  class="u--m++  label--inline">Event Type</label>
    <select  class="u-ml " >
        <option >First</option>
        <option >Second</option>
        <option >Third</option>
    </select>

    <label for="equipNum"  class="u--m++  label--inline">Event Date Time</label>
    <px-datetime-picker class="u-ml form-field--inline " date-format="YYYY/MM/DD" how-time-zone="none" time-format="HH:mm:ss" time-zone="UTC" date-time="2016-02-11T05:30:00.000Z"></px-datetime-picker>
    <input class="u-ml form-field--inline btn     "  (click)="addEuip(equipInitial.value,equipNum.value,'ICR')"  type='button' value="Search">



</px-card>