<!-- {{diagnostic}} -->
<!-- Above can be used to check two way data binding works properly. Simply changes done with the form impacted to the model -->
<px-card header-text="Hero Form"   chevron="true" class="body_box_wrapper"  style="height:100vh">

    <div class="container" *ngIf="hero">

        <form id="heroForm" name="heroForm" #heroForm="ngForm" (ngSubmit) = "add()"> <!-- #heroForm, #name kind of variables are called template reference variables -->
            <!-- 'Id' as a hidden field -->
            <div><input type="hidden" id="id" name="id" [(ngModel)] = "hero.id" ></div>

            <!-- 'Name'  form control -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name"  required [(ngModel)] = "hero.name" class="form-control" #name="ngModel">  <!-- #spy can be used to get the control's status, like touched, dirty etc-->
                       <span *ngIf="formErrors.name" class="alert alert-danger">
                    {{ formErrors.name }}
                </span>
            </div>

            <!-- 'Alter Ego'  form control -->
            <div class="form-group">
                <label for="alterEgo">Alter Ego</label>
                <input type="text" id="alterEgo" name="alterEgo" [(ngModel)]="hero.alterEgo" class="form-control">
            </div>

            <!-- 'Hero Power'  form control -->
            <div class="form-group">
                <label for="power">Hero Power</label>
                <select id="power" name="power" required [(ngModel)]="hero.power" class="form-control">
                        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Add</button>
            <button type="button" class="btn" (click) = "update();">Update</button>
            <button type="button" class="btn" (click) = "delete();">Delete</button>
            <button class="btn btn-success" (click)="heroForm.reset(); newHero();">Reset</button>
            <button (click)="goBack()" class="btn btn-success">Back</button>
        </form>
    </div>
</px-card>